* {
	/*outline: 1px solid red;*/
	
}

body {
	font-family: 'Open sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 300vh;
}

/*NAV STYLING*/

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

nav ul {
	display: block;
}

#logo {
	display: block;
	vertical-align: middle;
	padding-bottom: 0;
}

nav ul li {
 display: inline-block;
}

.nav-logo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 100px;
}

.right-nav {
	display: inline-block;
	vertical-align: middle;
	padding-right: 100px;
	float: right;
}

.nav {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;

}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 	25px;
	padding: 0.45rem 1rem;
	border: none;
}

/*LANDING PAGE STYLING*/

#bg-image {
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-size: 100%;
	background-position: center;
	color: white;
	height: 50vh;
}

.front-bg {
  	background-color: rgba(0, 0, 0, .6);
}

.container {
	height: 50vh;
	text-align: right;
	/*padding-right: 100px;*/
	padding-right: 6%;
	overflow: hidden;
}

.title {
	/*padding-left: 800px;*/
	padding-left: 55%;
	/*font-size: 50px;*/
	font-size: 3.5rem;
	margin-top: 0;
	/*display: inline-block;*/
}

.subtitle {
	/*padding-left: 1100px;*/
	padding-left: 74.5%;
	font-size: 1.2rem;
	font-weight: lighter;
}


.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: .8rem;
	border-radius: 	25px;
	padding: 0.6rem 2rem;
	border: none;
}

.title, 
.title-2 {
	font-family: 'Zilla Slab'; 
}

/*INTRO SECTION STYLING*/

.intro {
	text-align: center;
}

.intro .title-2,
.intro-description {
	margin: 70px 280px;
}

.intro .title-2 {
	font-size: 2rem;
}

.intro-description {
	text-align: justify;
}

/*PRE-FOOTER STYLING*/

.pre-footer {
	background-color:  #f7fbfb;
	text-align: center;
	margin: 20px 0;
}

.pre-footer .title-2,
.pre-footer .prefooter-description {
	margin: 50px 200px;
}

.pre-footer .prefooter-description {
	margin-bottom: 10px;
}

.book-button {
	color: white;
	font-weight: bold;
	font-size: .8rem;
	border-radius: 	25px;
	padding: 0.6rem 3rem;
	border: none;
	background-color: #336589;
}


/*FOOTER STYLING*/

footer {
	text-align: center;
}




